# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
*.suo
*.pdb
*.ipch
Debug
Release
*.log
Browse.VC.*db
.sqlite
.vscode
.vs
*TemporaryKey.pfx

# test files
test*.txt
test*.log
test_dir
